---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div>
  <h3 class="pb-0.5 text-xl font-bold text-grey-200 lg:pb-1.5 lg:text-2xl" set:html={title} />
  <div set:html={body} class="sub-body" />
</div>

<style>
  .sub-body {
    @apply text-sm text-gray-50 lg:text-base xl:text-lg;
  }

  ul {
    @apply flex list-outside list-disc flex-col space-y-1 pl-4;
  }
</style>
