---
import { Image } from "astro:assets";

import logo from "@assets/graphics/logos/stacked.png";
import bg from "@assets/graphics/boons/heavenly.png";

const bgSrc = bg.src;
---

<section class="hero">
  <Image src={logo} alt="Yum Yum Bloodgun" class="logo" />
</section>

<style define:vars={{ bgSrc }}>
  .hero {
    @apply max-w-full flex flex-col justify-end items-start h-[15.625rem] py-8 xs:h-[14.0625rem] sm:py-10 sm:h-[17.1875rem] md:h-[20.3125rem] lg:h-[21.875rem] xl:h-[25rem] 2xl:h-[26.5625rem] px-[6.1%] xs:px-[5%] sm:px-[5.2%] md:px-[5.5%] lg:px-[5%] xl:px-[5.5%];
    background: url("/images/hero.png");
    background-size: cover;
    background-position: center;
  }

  .logo {
    @apply w-full xs:w-[13.875rem] sm:w-[17.625rem] md:w-[23.1875rem] lg:w-[30.5rem] xl:w-[33.875rem] 2xl:w-[40.5rem];
  }
</style>
