---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import logo from "@assets/graphics/logo/tall.webp";
---

<>
  <header class="border-b-2 border-blue-200 bg-grey-950 py-4 sm:py-5">
    <nav class="wrapper base">
      <a href="/" class="col-span-3 sm:col-span-2">
        <Image
          src={logo}
          alt="Yum Yum Bloodgun: Home page"
          aria-label="Home page"
          loading="eager"
          class="h-auto w-full"
          width={236}
          height={74}
        />
      </a>

      <ul class="link-list hidden md:flex">
        <li class="link">
          <a href="/press-kit/">Press Kit</a>
        </li>
        <li class="link">
          <a href="#footer">Contact</a>
        </li>
        <li class="link">
          <a href="#" target="_blank" rel="noreferrer" class="flex items-center gap-x-2">
            <span>Steam</span>
            <Icon name="external" size={20} />
          </a>
        </li>
      </ul>

      <div class="col-span-1 col-start-6 sm:col-start-8 md:hidden">
        <button
          type="button"
          class="social"
          id="menu-toggle"
          aria-controls="mobile-nav"
          aria-expanded="false"
          aria-labelledby="mobile-label"
        >
          <span id="mobile-label" class="sr-only">Mobile menu</span>
          <Icon name="menu" size={28} id="menu-icon" />
          <Icon name="close" size={28} id="close-icon" />
        </button>
      </div>
    </nav>
  </header>

  <nav id="mobile-nav" aria-hidden="true">
    <div class="wrapper overflow-hidden">
      <ul class="mobile-list overflow-hidden">
        <li>
          <a href="/press-kit/">Press Kit</a>
        </li>
        <li>
          <a href="#footer">Contact</a>
        </li>
        <li>
          <a
            href="#"
            target="_blank"
            rel="noreferrer"
            class="flex items-center justify-center gap-x-2"
          >
            <span>Steam</span>
            <Icon name="external" size={20} />
          </a>
        </li>
      </ul>
    </div>
  </nav>
</>

<style>
  .link-list {
    @apply items-center justify-between text-xl font-medium md:col-span-5 md:col-start-4 md:text-2xl lg:col-start-6 xl:col-span-4 xl:col-start-7 2xl:col-start-10;

    li {
      @apply md:text-blue-100 md:hover:text-blue-200;
    }
  }

  .mobile-list {
    @apply grid w-full grid-cols-3 gap-2 text-xl font-medium text-grey-950 hover:text-grey-900;

    li {
      @apply w-full py-5 text-center;
    }
  }

  #mobile-nav {
    @apply bg-blue-300 md:hidden;
    display: grid;
    transition: grid-template-rows 300ms ease-in-out;
  }

  #mobile-nav[aria-hidden="true"] {
    grid-template-rows: 0;
  }

  #mobile-nav[aria-hidden="false"] {
    grid-template-rows: 1;
  }

  #menu-toggle[aria-expanded="false"] {
    & > #close-icon {
      @apply hidden;
    }

    & > #menu-icon {
      @apply block;
    }
  }

  #menu-toggle[aria-expanded="true"] {
    & > #close-icon {
      @apply block;
    }

    & > #menu-icon {
      @apply hidden;
    }
  }
</style>

<script>
  /* Menu toggle button */
  const toggle = document.getElementById(`menu-toggle`);
  /* Mobile menu */
  const mobileNav = document.getElementById(`mobile-nav`);

  const flipSwitch = () => {
    if (toggle) {
      toggle.addEventListener(`click`, () => {
        if (mobileNav) {
          if (toggle.ariaExpanded === "true") {
            toggle.ariaExpanded = `false`;
            mobileNav.ariaHidden = `true`;
          } else {
            toggle.ariaExpanded = `true`;
            mobileNav.ariaHidden = `false`;
          }
        }
      });
    }
  };

  document.addEventListener(`DOMContentLoaded`, flipSwitch);
</script>
