---
import { Image } from "astro:assets";
import welcome from "@assets/graphics/welcome.png";
---

<section>
  <div class="wrapper base">
    <div class="img-col order-2 flex flex-col justify-end sm:order-1">
      <div class="img-wrap">
        <Image src={welcome} alt="" loading="lazy" class="h-auto w-full" width={628} height={437} />
      </div>
    </div>
    <div
      class="content-col order-1 flex h-full flex-col justify-center gap-y-1 pb-6 sm:order-2 lg:col-start-6 2xl:col-start-7"
    >
      <h2 class="heading">Welcome, Fermentationist...</h2>
      <p class="p-body">
        Congratulations! You've inherited your first homunculus shell, mature moldmind, and a boofer
        pup. Your dream of participating in the Flavor Rites and becoming a revered fermentationist
        is now close at hand...
      </p>
    </div>
  </div>
</section>

<style>
  section {
    @apply place-content-end pt-10 xl:pt-16;
    background: url("/images/backgrounds/mountain.webp");
    background-size: cover;
    background-position: center;
  }

  .heading {
    @apply text-center text-3xl font-bold text-blue-300 sm:text-left lg:text-4xl xl:text-5xl 2xl:text-6xl;
  }

  .p-body {
    @apply text-center text-sm sm:text-left lg:text-base xl:text-lg 2xl:text-2xl;
  }
</style>
