---
import { Image } from "astro:assets";
import logo from "@assets/graphics/logo/wide.webp";
---

<section class="w-full">
  <h1 class="sr-only">Yum Yum Bloodgun</h1>
  <div class="wrapper base h-full place-content-end">
    <div class="logo">
      <Image
        src={logo}
        alt="Text reading: Yum Yum Bloodgun"
        loading="eager"
        class="h-auto w-full"
        width={888}
        height={74}
      />
    </div>
  </div>
</section>

<style>
  section {
    @apply h-[15.625rem] w-full py-6 lg:h-[21.875rem] lg:py-10 2xl:h-[28.125rem];
    background: linear-gradient(180deg, rgba(33, 28, 30, 0.25) 0%, rgba(33, 28, 30, 0.25) 100%),
      url("/images/backgrounds/heavenly-riposte.webp");
    background-size: cover;
    background-position: center;
  }

  .logo {
    @apply col-span-6 col-start-1 sm:col-span-5 lg:col-span-6 2xl:col-span-7;
  }
</style>
