---
import { Image } from "astro:assets";
import supplicant from "@assets/graphics/gif/supplicant-beg.gif";
---

<section class="wrapper base">
  <div class="content-col flex flex-col justify-center gap-y-1">
    <h2 class="heading">Immortality with Risks, <br /> PvP with Stakes</h2>
    <p class="p-body">
      The prevailing side, in a given rite, will be allowed to take a single item from the losing
      homunculus. A lost item is replaced with an old, worn out, grey piece of equipment provided by
      the Lord Alchemist's Flavor Rites Association (LAFRA) at no cost to the participating
      fermentationist.*
    </p>
  </div>
  <div class="img-col lg:col-start-7 2xl:col-start-8">
    <Image src={supplicant} alt="" loading="lazy" class="w-full h-auto" width={628} height={286} />
    <p class="text-center text-grey-200 text-xs lg:text-sm xl:text-base pt-2">
      *Make sure not to lose your entire suit, though -- or risk compulsory longjuicing.
    </p>
  </div>
</section>

<style>
  section {
    @apply py-10 xl:py-16 place-content-center;
  }

  .heading {
    @apply text-blue-300 font-bold text-center sm:text-left text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
  }

  .p-body {
    @apply text-center sm:text-left text-sm lg:text-base xl:text-lg 2xl:text-xl;
  }
</style>
