---
import { Image } from "astro:assets";
import shoot from "@assets/graphics/shoot-parry-slash.webp";
---

<section class="bg-grey-50">
  <div class="wrapper base place-items-center">
    <div class="img-col">
      <Image
        src={shoot}
        alt="A homonculus with a sword jumping through a big red circle in front of the words 'Shoot, Parry & Slash'."
        loading="eager"
        class="w-full"
        width={628}
        height={392}
      />
    </div>
    <div class="content-col sm:col-start-5 lg:col-start-6 2xl:col-start-7">
      <h2 class="heading">
        Shoot, parry, and slash your way to self-awareness in the alchemy-infused dystopia of
        Longjuice Squeeze, a 2D fighting game with deckbuilding mechanics and wild art — featuring
        high-stakes duels and highly customizable fighters.
      </h2>
    </div>
  </div>
</section>

<style>
  section {
    @apply py-10 xl:py-16;
  }

  .heading {
    @apply text-center text-base font-medium text-grey-900 sm:text-left lg:text-xl xl:text-2xl 2xl:text-3xl;
  }
</style>
