---
import { Image } from "astro:assets";
import shoot from "@assets/graphics/shoot-parry-slash.webp";
---

<section class="bg-grey-50">
  <section class="wrapper base">
    <div class="img-col">
      <Image
        src={shoot}
        alt="A homonculus with a sword jumping through a big red circle in front of the words 'Shoot, Parry & Slash'."
        loading="eager"
        class="w-full"
      />
    </div>
    <div class="content-col sm:col-start-6 2xl:col-start-7">
      <h2 class="heading">
        Shoot, parry, and slash your way to self-awareness in the alchemy-infused dystopia of Yum
        Yum Bloodgun, a 2D fighting game with deckbuilding mechanics and wild art — featuring
        high-stakes duels and highly customizable fighters.
      </h2>
    </div>
  </section>
</section>

<style>
  section {
    @apply place-items-center py-10 xl:py-16;
  }

  .heading {
    @apply text-center sm:text-left text-grey-900 font-medium text-base lg:text-xl xl:text-2xl 2xl:text-3xl;
  }
</style>
