---
import { Image } from "astro:assets";

import boofer from "@assets/graphics/sections/welcome.png";
---

<section class="bg-grey-900">
  <div class="wrapper right-img-col inner xs:place-items-end">
    <div
      class="space-y-1 text-center xs:text-left xs:h-full xs:flex xs:flex-col xs:justify-center lg:space-y-2"
    >
      <h2 class="heading">Welcome, Fermentationist...</h2>
      <p class="text-sm md:text-base lg:text-xl 2xl:text-2xl leading-[1.5]">
        Congratulations, juiceling! You've inherited your first homunculus shell, mature moldmind,
        and a boofer pup. Your dream of participating in the Flavor Rites and becoming a revered
        fermentationist is now close at hand...
      </p>
    </div>
    <div>
      <Image
        src={boofer}
        alt="A boofer pup"
        loading="lazy"
        quality={100}
        width={648}
        class="w-full"
      />
    </div>
  </div>
</section>

<style>
  section {
    background-image: url("/images/mountain.png");
    background-size: cover;
    background-position: center;
  }

  .inner {
    @apply pb-0 pt-10 xs:pt-16 lg:pt-20;
  }

  .heading {
    @apply font-bold text-blue-300 text-xl sm:text-2xl md:text-4xl lg:text-6xl 2xl:text-7xl;
  }
</style>
