<form
  action="https://gmail.us11.list-manage.com/subscribe/post?u=ecfcff8f831436f349d757775&id=22ab8965ca&f_id=00ffa7e0f0"
  method="post"
  id="mc-embedded-subscribe-form"
  name="mc-embedded-subscribe-form"
  class="validate form-wrapper"
  target="_blank"
>
  <input aria-label="Email" type="email" name="EMAIL" id="mce-EMAIL" class="field" />
  <button
    type="submit"
    name="subscribe"
    id="mc-embedded-subscribe"
    aria-label="Submit"
    class="btn shrink-0"
  >
    sign up
  </button>
</form>

<style>
  .form-wrapper {
    @apply w-full flex ring ring-grey-700 transition duration-300 ease-in-out shadow hover:ring-grey-900 hover:shadow-lg focus:ring-red-500 focus:shadow rounded-sm;
  }

  .field {
    @apply w-full shrink bg-grey-50 text-grey-900 placeholder:text-grey-700 px-3 py-2 text-sm sm:px-4 sm:text-base md:text-lg lg:px-5 lg:py-2.5;
  }
</style>
