@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* BASE CONTAINER PADDING/WIDTH */
  .wrapper {
    @apply mx-auto w-full max-w-[96rem] px-[6.15%] sm:px-[5%] md:px-[5.2%] lg:px-[5.5%] xl:px-[5%] 2xl:px-[5.2%] 3xl:px-0;
  }

  /* LINKS */
  .link {
    @apply text-blue-100 transition duration-300 ease-in-out hover:text-blue-200 font-medium;
  }

  /* BUTTONS */
  .btn {
    @apply px-5 py-2 text-sm sm:px-6 sm:text-base md:px-8 md:text-lg lg:px-10 lg:py-[9px] bg-red-500 text-grey-50 font-bold transition duration-300 ease-in-out hover:bg-red-600 active:bg-red-700 w-fit cursor-pointer;
  }

  .social {
    @apply w-11 h-11 rounded grid place-items-center bg-red-500 text-grey-50 shadow-xs transition duration-300 ease-in-out hover:bg-red-600 hover:shadow-sm active:bg-red-700 active:shadow-sm;
  }

  .base {
    @apply grid grid-cols-6 gap-2 sm:grid-cols-8 sm:gap-4 lg:grid-cols-10 xl:gap-5 2xl:grid-cols-12;
  }

  .img-col {
    @apply col-span-6 sm:col-span-4 lg:col-span-4 2xl:col-span-5;
  }

  .content-col {
    @apply col-span-6 sm:col-span-4 lg:col-span-5 2xl:col-span-6;
  }

  .transition-setting {
    @apply transition-all duration-300 ease-in-out;
  }

  .panel {
    @apply w-full h-full flex items-center sticky;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .panel-0 {
    z-index: 0;
    background-image: linear-gradient(180deg, rgba(33, 28, 30, 0.3844) 0%, rgba(33, 28, 30, 0.3844) 100%), url("/images/backgrounds/iron-will.webp");
  }

  .panel-1 {
    z-index: 10;
    background-image: linear-gradient(180deg, rgba(33, 28, 30, 0.3844) 0%, rgba(33, 28, 30, 0.3844) 100%), url("/images/backgrounds/thread-needle.webp");
  }

  .panel-2 {
    z-index: 20;
    background-image: linear-gradient(180deg, rgba(33, 28, 30, 0.3844) 0%, rgba(33, 28, 30, 0.3844) 100%), url("/images/backgrounds/constricting-agent.webp");
  }

  .panel-3 {
    z-index: 30;
    background-image: linear-gradient(180deg, rgba(33, 28, 30, 0.3844) 0%, rgba(33, 28, 30, 0.3844) 100%), url("/images/backgrounds/final-prayer.webp");
  }

  .panel-4 {
    z-index: 40;
    background-image: linear-gradient(180deg, rgba(33, 28, 30, 0.3844) 0%, rgba(33, 28, 30, 0.3844) 100%), url("/images/backgrounds/hemofission.webp");
  }

  @keyframes pulsate-fwd {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes pulsate-back {
    0% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    /* turns off smooth-scrolling behavior (if turned on) when prefers-reduced-motion is active*/
    scroll-behavior: auto;

    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  @apply bg-grey-900 overflow-x-hidden;
}

body {
  display: flex;
  flex-direction: column;
  @apply text-grey-50;
}

main {
  flex: 1 0 auto;
}
