---
import { Image } from "astro:assets";

import villager from "@assets/graphics/gif/villager.gif";

import Newsletter from "@components/misc/Newsletter.astro";
---

<section
  class="relative h-[25rem] bg-blue-300 py-11 sm:h-[15.625rem] lg:h-[23.4375rem] xl:h-[25rem] 2xl:h-[31.25rem]"
>
  <div class="wrapper base h-full sm:place-content-center">
    <div class="relative z-10 col-span-6 w-full sm:col-span-5 md:col-span-4 lg:col-span-5">
      <h2 class="pb-2 text-xl font-medium text-gray-900 md:text-2xl lg:text-3xl">
        Early access beta waitlist
      </h2>
      <Newsletter />
    </div>
  </div>
  <Image src={villager} alt="" class="sleeper" loading="lazy" />
</section>

<style>
  .sleeper {
    @apply absolute bottom-0 right-[-30%] h-auto w-[200%] sm:bottom-[1rem] sm:right-[-26.4%] sm:w-[31.25rem] md:bottom-0 md:right-[-24%] md:w-[43.75rem] lg:bottom-0 lg:right-[-21.6%] lg:w-[56.25rem] xl:bottom-[0.875rem] xl:w-[68.75rem] 2xl:right-[-20.9%] 2xl:w-[87.5rem] 3xl:right-[-16.4%];
    mask-position: center;
    mask-repeat: no-repeat;
    mask-mode: alpha;
    mask-image: url("/images/signup-mask.svg");
    mask-size: 100%;
  }
</style>
