---
import { Image } from "astro:assets";

import steam from "@assets/graphics/steam.svg";
---

<section class="bg-grey-900">
  <div class="wrapper inner">
    <h2 class="text">Add YYBG to your<br /> Steam Wishlist</h2>
    <a href="" target="_blank" rel="noreferrer">
      <Image src={steam} alt="Steam logo" class="steam" loading="lazy" quality={100} />
    </a>
  </div>
</section>

<style>
  .inner {
    @apply w-full flex items-center justify-between py-8 md:py-10 xl:py-12;
  }

  .text {
    @apply w-full max-w-[11.6875rem] font-bold text-lg leading-[1.2] xs:max-w-[17.5rem] xs:text-2xl sm:max-w-[21rem] sm:text-3xl md:max-w-[28rem] md:text-4xl lg:max-w-[35.375rem] lg:text-5xl xl:max-w-[39.375rem] xl:text-6xl 2xl:max-w-[47.375rem] 2xl:text-7xl;
  }

  .steam {
    @apply transition duration-300 ease-in-out h-auto w-[9rem] xs:w-[13.875rem] sm:w-[16.625rem] md:w-[22.1875rem] lg:w-[29.0625rem] xl:w-[32.8125rem] 2xl:w-[39.0625rem] hover:scale-105;
  }
</style>
